body {
    background-color: #2E2E2E;
    color: #FFFFFF;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.modal {
    --bs-modal-bg: #262626;   
}

h1 {
    color: #00ff7b6f;
    text-shadow: 0 0 4px #00FFFF;
}

h5 {
    color: #FFFFFF;
}

.container {
    margin-top: 5%;
    background-color: #1E1E1E60;
    border-radius: 15px;
    padding: 3% 2.2% 3% 3%;
    transition: box-shadow 1s ease-in-out;
    text-align: center;
}

.slider-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slider-row label {
    white-space: nowrap;
    margin-right: 10px;
}

.slider-row input {
    flex-grow: 1;
    margin-right: 10px;
}

label {
    color: #FFFFFF;
    text-align: center;
    display: block;
    margin: 2% 0;
}

.form-label {
    color: #FFFFFF;
}

.slider {
    width: 100%;
    height: 25px;
    background: linear-gradient(to right, rgb(0, 0, 0) 0%, #eaee0000 100%);
    outline: none;
    opacity: 0.7;
    transition: opacity 0.7s, background-color 0.2s;
    border-radius: 10px;
    -webkit-appearance: none;
    box-shadow: 0 0 15px #0087d56b;
}



.slider::-webkit-slider-thumb {
    
    width: 25px;
    height: 25px;
    background: #edeeeed9;
    cursor: pointer;
    border-radius: 50%;
    -webkit-appearance: none;
    box-shadow: 0 0 5px #000000;
}



.btn {
    width: 100%;
    text-align: center;
    margin: 2%;
    background-color: #55476d9f;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px #00FFFF; /* Отступы, паддинги и маржины */
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
    position: relative;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.btn:active {
    background-color: #63449d;
    box-shadow: inset 10px 0 30px #00FFFF;
    transform: translateY(2px);
}


@keyframes tv-off {
    0% {
        transform: scaleY(1);
        opacity: 1;
    }
    50% {
        transform: scaleY(0.1);
        opacity: 1;
    }
    100% {
        transform: scaleY(0) scaleX(0);
        opacity: 0;
    }
}

.btn-reappear {
    display: none;
    animation: reappear 0.3s forwards;
}





.mt-3 {
    text-align: center;
}



.no-wrap {
    white-space: nowrap;
}

.btn-group-margin {
    margin: 1%;
    width: 27%;
}

.col-9 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.col-3 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.col-12 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}






